@font-face{
    font-family: 'SBBWeb';
    src: url('WEB/SBBWeb-Light.eot');
    src: url('WEB/SBBWeb-Light.ttf') format('truetype');
    src: url('WEB/SBBWeb-Light.woff') format('woff');
    src: url('WEB/SBBWeb-Light.woff2') format('woff2');
}
html{
    font-family: 'SBBWeb', sans-serif;
}

.app{
    height: 100vh;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-grow{
    display: flex;
    flex-grow: 1;
  }
  .asset{
    max-height: 100vh;
    max-width: 70vw;
  }
  .content{
    margin: 0px 20px;
  }
  .sidebar{
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid #f6f6f6;
    width: 300px;
    min-width: 300px;
  }
  
  .text{
  background-color: #ffffff;
  padding: 30px;
  font-size: 20px;
  overflow: auto;
  }
  
  .navbar{
   padding: 10px;
   border-bottom: 1px solid #f6f6f6;
  }
  
  .btn{
  background-color: #EB0000;
  color: white;
  text-align: center;
  font-family: 'SBBWeb', sans-serif;
  height: auto;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  }
  .btn:visited{
  background-color: #C60018
  }
  .btn:hover {
  background-color: #A20013
  }
  .btn:active{
  background-color: #A20013;
  }
  .btn:focus{
  background-color: #A20013;
  }
  #questions{
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  }
  .label{
  color: #a8a8a8;
  }
  .question{
  margin-bottom: 15px;
  }
  
  [type="radio"]:checked+span:after,
  [type="radio"].with-gap:checked+span:before,
  [type="radio"].with-gap:checked+span:after {
  border-color: #EB0000 !important;
  }
  [type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #EB0000 !important;
  background-color: #EB0000 !important;
  
  }
  
  input.materialize-textarea:focus:not([readonly]) {
  border-color: #03a9f4 !important;
  }